<styles default="0">
  <style id="0" text="字幕机">
    <Screens count="1" type="None">
      <Screen name="CharacterGenerator" />
    </Screens>
  </style>
  <style id="1" text="生产进度">
    <Screens count="2" type="None">
      <Screen name="ZoneStatistics" />
      <Screen name="ZoneStatistics" />
    </Screens>
  </style>
  <style id="2" text="园区监控">
    <Screens count="8" type="Irregularly">
      <Screen name="ZoneStatistics" />
      <Screen name="ZoneStatistics" />
      <Screen name="ZoneStatistics" />
      <Screen name="" />
      <Screen name="" />
      <Screen name="" />
      <Screen name="" />
      <Screen name="ZoneStatistics" />
    </Screens>
  </style>
</styles>