<sidebar name="ToolboxBar" style="7" app="0" psc="1" fontname="宋体" fontemsize="9" fontstyle="0" width="188" height="489">
  <items>
    <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.SideBarPanelItem" name="" globalname="" text="  分拣查询" iscontainer="true" visible="true" itemdata="" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false">
      <subitems>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="SortingEfficiency" globalname="" text="分拣效率查询" iscontainer="false" visible="true" itemdata="MonitorMain.CustomContorl.CSortingEfficiency" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="1" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="CSortingTaskSearch" globalname="" text="常规烟分拣查询" iscontainer="false" visible="true" itemdata="MonitorMain.CustomContorl.Search.CSortingTaskSearch" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="1" />
        </item>
		<item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="test3" globalname="" text="异型烟分拣查询" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="1" />
        </item>
		<item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="test3" globalname="" text="卷烟烟包查询" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="1" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="test3" globalname="" text="卷烟品牌销量查询" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="1" />
        </item>        
      </subitems>
    </item>
    
  </items>
</sidebar>

<!--<item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.SideBarPanelItem" name="" globalname="" text="  任务流程监控" iscontainer="true" visible="true" itemdata="" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false">
      <subitems>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="入库任务" globalname="" text="入库任务" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="0" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="出库任务" globalname="" text="出库任务" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="0" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="分拣优化任务" globalname="" text="分拣优化任务" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="0" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="分拣任务" globalname="" text="分拣任务" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="0" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="装车任务" globalname="" text="装车任务" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="0" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="送货任务" globalname="" text="送货任务" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="0" />
        </item>
      </subitems>
    </item>
    <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.SideBarPanelItem" name="" globalname="" text="  关键指标数据显示" iscontainer="true" visible="true" itemdata="" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false">
      <subitems>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="StockMonitor" globalname="" text="库存指标监控" iscontainer="false" visible="true" itemdata="http://10.69.0.115:8080/logistic/cigaretteBrand.action,http://10.69.0.115:8080/logistic/cigaretteBrand!searchBrand.action" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="2" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="客户指标监控" globalname="" text="客户指标监控" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="2" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="专卖指标监控" globalname="" text="专卖指标监控" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="2" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="销售指标监控" globalname="" text="销售指标监控" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="2" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="品牌指标监控" globalname="" text="品牌指标监控" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="2" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="人力资源指标监控" globalname="" text="人力资源指标监控" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="2" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="设备指标监控" globalname="" text="设备指标监控" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="2" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="成本费用指标监控" globalname="" text="成本费用指标监控" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="2" />
        </item>
      </subitems>
    </item>
    <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.SideBarPanelItem" name="" globalname="" text="  现场设备监控" iscontainer="true" visible="true" itemdata="" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false">
      <subitems>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="高架库设备监控" globalname="" text="高架库设备监控" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="3" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="分拣设备监控" globalname="" text="分拣设备监控" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="3" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="现场辅助设备监控" globalname="" text="现场辅助设备监控" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="3" />
        </item>
      </subitems>
    </item>
    <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.SideBarPanelItem" name="" globalname="" text="  环境监控系统" iscontainer="true" visible="true" itemdata="" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false">
      <subitems>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="生产现场环境" globalname="" text="生产现场环境" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="3" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="厂区环境环境" globalname="" text="厂区环境环境" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="3" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="停车场环境" globalname="" text="停车场环境" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="3" />
        </item>
      </subitems>
    </item>
    <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.SideBarPanelItem" name="" globalname="" text="  综合查询分析" iscontainer="true" visible="true" itemdata="" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false">
      <subitems>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="报表管理" globalname="" text="报表管理" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="1" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="综合查询" globalname="" text="综合查询" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="1" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="分析决策" globalname="" text="分析决策" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="1" />
        </item>
      </subitems>
    </item>
    <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.SideBarPanelItem" name="" globalname="" text="  电子地图管理" iscontainer="true" visible="true" itemdata="" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false">
      <subitems>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="零售户分布查询" globalname="" text="零售户分布查询" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="6" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="零售户专卖信息" globalname="" text="零售户专卖信息" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="6" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="零售户分级查询" globalname="" text="零售户分级查询" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="6" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="零售户经营查询" globalname="" text="零售户经营查询" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="6" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="零售户分布查询" globalname="" text="零售户分布查询" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="6" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="零售户综合分析" globalname="" text="零售户综合分析" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="6" />
        </item>
      </subitems>
    </item>
    <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.SideBarPanelItem" name="" globalname="" text="  Gis系统" iscontainer="true" visible="true" itemdata="" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false">
      <subitems>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="送货车辆监控" globalname="" text="送货车辆监控" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="7" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="送货线路查询" globalname="" text="送货线路查询" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="7" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="送货线路优化" globalname="" text="送货线路优化" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="7" />
        </item>
      </subitems>
    </item>
    <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.SideBarPanelItem" name="SystemSet" globalname="" text="  系统功能" iscontainer="true" visible="true" itemdata="" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false">
      <subitems>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="MenuEdit" globalname="" text="菜单编辑" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <subitems>
            <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="MenuEditstate" globalname="" text="启用菜单编辑      " iscontainer="false" visible="true" itemdata="" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="0" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false" />
          </subitems>
          <images imageindex="8" />
        </item>
        <item assembly="DevComponents.DotNetBar2, PublicKeyToken=e116d99a00eca71b" class="DevComponents.DotNetBar.ButtonItem" name="CharacterGenerator" globalname="" text="字幕机" iscontainer="false" visible="true" itemdata="aaaaaaaaaaaa" enabled="true" begingroup="false" style="7" desc="" tooltip="" category="" cancustomize="true" showsubitems="true" itemalignment="0" stretch="false" global="true" themes="false" PopupType="0" PopupWidth="200" PersonalizedMenus="0" panim="1" ImagePosition="2" ButtonStyle="2" Checked="false" VerticalPadding="0" HorizontalPadding="0" MenuVisibility="0" RecentlyUsed="false">
          <images imageindex="8" />
        </item>
      </subitems>
    </item>-->